@import '../../styles/abstract.scss';

.repo-count {
  background: $c-primary;
  // display: flex;
  // justify-content: space-between;
  padding: $global-spacing-half 0;
  // flex: $global-flex;
  text-align: center;

  .count {
    color: $c-primary-light;
    font-size: $global-font-size * 1.25;
  }
}
