/**
 * /* ==========================================================================
 *    Sitewide Variables
 *    ==========================================================================
 *
 * @format
 */

/* Style Specific Variables
   ========================================================================== */

/* COLORS */
$c-primary: #00a2ff;
$c-primary-dark: #6f7985;
$c-primary-light: #f6f8fa;
// Language Colors

$c-selected: #00c6f3;
$c-success: #1cff00;

$c-text-bg: rgba(255, 255, 255, 0.15);
$c-white: #fff;

/* FONTS */
$ff-primary: 'Poppins', sans-serif;
$ff-secondary: 'Poppins', sans-serif;
$ff-headline: 'Poppins', sans-serif;
$fw-regular: 300;
$fw-bold: 500;

/* Size Specific Variables
   ========================================================================== */
/**
  * BASE SIZING
  *
  * This default font size determines the relative size of special content in components and should be derived from
  * the default paragraph font size
  */
$global-font-size: 12px;
$global-line-height: 1.22; /* 22 */
$global-scale-factor: 1.125;

/* These are set to rem so it is relative to the global font size that changes depending on breakpoint */
$global-spacing: (30 / ($global-font-size/1px)) + 0rem;
$global-spacing-double: ($global-spacing * 2);
$global-spacing-half: ($global-spacing / 2);

$global-font-size-mobile: 16px;
$global-line-height-mobile: 1.22; /* 22 */
$global-scale-factor-mobile: 1.125;

/* Style/Animation Variables
   ========================================================================== */

$global-box-shadow: 5px 10px 20px -10px rgba(0, 0, 0, 0.4);
$global-border-radius: 3px;
$animate-duration: 0.8s;
$animate-transition: all 0.5s ease-in-out;
