@import '../../styles/abstract.scss';

.container {
  background-color: $c-primary-light;
  padding: $global-spacing-half 0;
}

.avatar {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: $global-box-shadow;
  perspective: 1000px;
}

.title {
  font-size: $global-font-size * 1.25;
}

.text {
  margin: 0;
}
