@import '../../styles/abstract.scss';

.container {
  background-color: $c-primary-light;
  padding: 12px 0;
}

.avatar {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 5px 10px 20px -10px rgba(0, 0, 0, 0.2);
  perspective: 1000px;
}

.title {
  font-size: $global-font-size * 1.25;
}

.text {
  margin: 0;
}
