@import '../../styles/abstract.scss';

.container {
  // box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.07);
  box-shadow: $global-box-shadow;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
